{% extends 'pages/install/base_template.html.twig' %}

{% block content %}

    <p>This wizard will help you to setup <strong>Volunteer Management System <small>(VMS)</small></strong> in no time.</p>

    <p>We will guide you through the process step by step.</p>

    <ul>
        <li>Setup Database connection</li>
        <li>Create Administrative account</li>
        <li>Perform basic settings</li>
        <li>Happy Event</li>
    </ul>

    <form method="post">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="submit">Start</button>
{#            <button class="btn btn-primary" type="button">Button</button>#}
        </div>

{#        <button type="submit" class="btn btn-primary">Next →</button>#}
    </form>






{% endblock %}
