{% extends 'install/base_install.html.twig' %}

{% block content %}
    <p>All configurations have been saved successfully!</p>
    <a href="/" class="btn btn-success">Go to Dashboard</a>
{% endblock %}
